#container {
    text-align: center;
  
    position: absolute;
    padding: 0 0.8rem;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .header{
      padding-top: 5rem;
      display: flex;
      align-items: baseline;
      justify-content: center;
  }

  .box-header{
    display: flex;
    align-items: baseline;
  }

  .check-icon{
    padding-left: 1rem;
  }

  h1{
      padding-right: 1rem;
  }

  .title, .body-button{
    font-size: 1.2rem;
    text-transform: none;
  }

  .resumen-visitados {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
   }

   h2{
       font-size: 1rem;
   }

   ion-input{
     border: 1px solid rgb(0, 23, 92);
     border-radius: 10px;
   }

  .box-visitados{
      display: flex;
      flex-direction: column;
      padding: 0 1.5rem;
      border-right: 0.1rem solid rgb(0, 23, 92);
  }

  .box-visitados:last-child{
      border: none;
  }
   
  
  .body-button{
    padding: 0.4rem;
    //margin-top: 1rem;
    --border-style: none;
    border-radius: 10px;
  }
  
  ion-card{
    box-shadow: 0px 4px 10px 0 rgba(0, 61, 246, 0.4);
  }

  ion-label{
      padding-left: 1rem;
  }

  /*.ng-fa-icon{
    padding-right: 1rem;
  }*/