// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary**/ 
  --ion-color-primary: #ffffff;
  --ion-color-primary-rgb: 255, 255, 255;
  --ion-color-primary-contrast: #00175c;
  --ion-color-primary-contrast-rgb: 0, 23, 92;
  --ion-color-primary-shade: white; //#3171e0;
  --ion-color-primary-tint: white;//#4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** menu**/ 
  --ion-color-menu: #003df6;
  --ion-color-menu-rgb: 0, 61, 246;
  --ion-color-menu-contrast: #ffffff;
  --ion-color-menu-contrast-rgb: 255, 255, 255;
  --ion-color-menu-shade: #3171e0;
  --ion-color-menu-tint: #4c8dff;


  /*Tipografía global*/
  --ion-font-family: 'Gill Sans';

}

.ion-color-menu{
  --ion-color-base: var(--ion-color-menu);
  --ion-color-base-rgb: var(--ion-color-menu-rgb);
  --ion-color-contrast: var(--ion-color-menu-contrast);
  --ion-color-contrast-rgb: var(--ion-color-menu-contrast-rgb);
  --ion-color-shade: var(--ion-color-menu-shade);
  --ion-color-tint: var(--ion-color-menu-tint);
}

